MovieService/src/conf/xml-resources/web-services/MovieWebServices/wsdl/MovieService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:tns="http://www.ttu.ee/idu0075/2015/ws/movie" 
	targetNamespace="http://www.ttu.ee/idu0075/2015/ws/movie">
	<wsdl:types>
		<xs:schema  targetNamespace="http://www.ttu.ee/idu0075/2015/ws/movie" elementFormDefault="qualified">
			
			<xs:complexType name ="movieType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="director" type="xs:string"/>
					<xs:element name="releaseYear" type="xs:integer"/>
					<xs:element name="genre" minOccurs="1">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="Action|Drama|Horror|Comedy"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name ="statusMovieType">
				<xs:sequence>
					<xs:element name="movie" type="tns:movieType"/>	
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name ="statusMovieListType">
				<xs:sequence>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="statusMovie" type="tns:statusMovieType"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name ="statusType">
				<xs:sequence>
					<xs:element name="id" type="xs:integer"/>
					<xs:element name="status" minOccurs="1" type="xs:string"/>
					<xs:element name="statusMovieList" type="tns:statusMovieListType"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:element name="getMovieRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" type="xs:integer"/>
						<xs:element name="name" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getMovieResponse" type="tns:movieType"/>
			
			<xs:element name="addMovieRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="director" type="xs:string"/>
						<xs:element name="releaseYear" type="xs:integer"/>
						<xs:element name="genre" minOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="Action|Drama|Horror|Comedy"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="addMovieResponse" type="tns:movieType"/>
			
			<xs:element name="getMovieListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="genre" minOccurs="0" maxOccurs="1">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="Action|Drama|Horror|Comedy"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getMovieListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="movie" type="tns:movieType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getStatusRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="id" minOccurs="1" type="xs:integer"/>
                                                <xs:element name="status" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getStatusResponse" type="tns:statusType"/>
			
			<xs:element name="addStatusRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="status" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="addStatusResponse" type="tns:statusType"/>
			
			<xs:element name="getStatusListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getStatusListResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="status" type="tns:statusType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getStatusMovieListRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="statusId" type="xs:integer"/>	
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getStatusMovieListResponse" type="tns:statusMovieListType"/>
			
			<xs:element name="addStatusMovieRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="token" type="xs:string"/>
						<xs:element name="movieId" type="xs:integer"/>
						<xs:element name="statusId" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="addStatusMovieResponse" type="tns:statusMovieType"/>
		</xs:schema>
		
	</wsdl:types>
	
	<wsdl:message name="getMovieMessageRequest">
		<wsdl:part name="parameter" element="tns:getMovieRequest"/>
	</wsdl:message>
	<wsdl:message name="getMovieMessageResponse">
		<wsdl:part name="parameter" element="tns:getMovieResponse"/>
	</wsdl:message>
	<wsdl:message name="addMovieMessageRequest">
		<wsdl:part name="parameter" element="tns:addMovieRequest"/>
	</wsdl:message>
	<wsdl:message name="addMovieMessageResponse">
		<wsdl:part name="parameter" element="tns:addMovieResponse"/>
	</wsdl:message>
	<wsdl:message name="getMovieListMessageRequest">
		<wsdl:part name="parameter" element="tns:getMovieListRequest"/>
	</wsdl:message>
	<wsdl:message name="getMovieListMessageResponse">
		<wsdl:part name="parameter" element="tns:getMovieListResponse"/>
	</wsdl:message>
	<wsdl:message name="getStatusMessageRequest">
		<wsdl:part name="parameter" element="tns:getStatusRequest"/>
	</wsdl:message>
	<wsdl:message name="getStatusMessageResponse">
		<wsdl:part name="parameter" element="tns:getStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="addStatusMessageRequest">
		<wsdl:part name="parameter" element="tns:addStatusRequest"/>
	</wsdl:message>
	<wsdl:message name="addStatusMessageResponse">
		<wsdl:part name="parameter" element="tns:addStatusResponse"/>
	</wsdl:message>
	<wsdl:message name="getStatusListMessageRequest">
		<wsdl:part name="parameter" element="tns:getStatusListRequest"/>
	</wsdl:message>
	<wsdl:message name="getStatusListMessageResponse">
		<wsdl:part name="parameter" element="tns:getStatusListResponse"/>
	</wsdl:message>
	<wsdl:message name="getStatusMovieListMessageRequest">
		<wsdl:part name="parameter" element="tns:getStatusMovieListRequest"/>
	</wsdl:message>
	<wsdl:message name="getStatusMovieListMessageResponse">
		<wsdl:part name="parameter" element="tns:getStatusMovieListResponse"/>
	</wsdl:message>
	<wsdl:message name="addStatusMovieMessageRequest">
		<wsdl:part name="parameter" element="tns:addStatusMovieRequest"/>
	</wsdl:message>
	<wsdl:message name="addStatusMovieMessageResponse">
		<wsdl:part name="parameter" element="tns:addStatusMovieResponse"/>
	</wsdl:message>
	
	<wsdl:portType name="StatusPortType">
		<wsdl:operation name="getMovie">
			<wsdl:input message="tns:getMovieMessageRequest"/>
			<wsdl:output message="tns:getMovieMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addMovie">
			<wsdl:input message="tns:addMovieMessageRequest"/>
			<wsdl:output message="tns:addMovieMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getMovieList">
			<wsdl:input message="tns:getMovieListMessageRequest"/>
			<wsdl:output message="tns:getMovieListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getStatus">
			<wsdl:input message="tns:getStatusMessageRequest"/>
			<wsdl:output message="tns:getStatusMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addStatus">
			<wsdl:input message="tns:addStatusMessageRequest"/>
			<wsdl:output message="tns:addStatusMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getStatusList">
			<wsdl:input message="tns:getStatusListMessageRequest"/>
			<wsdl:output message="tns:getStatusListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getStatusMovieList">
			<wsdl:input message="tns:getStatusMovieListMessageRequest"/>
			<wsdl:output message="tns:getStatusMovieListMessageResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addStatusMovie">
			<wsdl:input message="tns:addStatusMovieMessageRequest"/>
			<wsdl:output message="tns:addStatusMovieMessageResponse"/>
		</wsdl:operation>
		
	</wsdl:portType>
	
	<wsdl:binding name="StatusBinding" type="tns:StatusPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getMovie">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addMovie">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMovieList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="getStatus">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addStatus">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStatusList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="getStatusMovieList">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addStatusMovie">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MovieService">
		<wsdl:port name="InvoicePort" binding="tns:StatusBinding">
			<soap:address location="Empty"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
